.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#f63,#f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px 0 0 0 ;
    display: flex;
    align-items: center;
}
.header__navbar-item{
    position: relative;
    margin: 0 8px;
}
.header__navbar-user
{
    align-items: center;
    position: relative;
}
.header__navbar-user-img
{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.header__navbar-user-name
{
    margin: 0 2px;
    font-weight: 400;
    font-size: 1.4rem;
}
.header__navbar-user:hover .header__navbar-user-menu
{
    display: block;
}
.header__navbar-user-menu
{
    box-shadow: 0 0 3px #999; ;
    padding-left: 0;
    position: absolute;
    z-index: 100;
    width: 200px;
    background-color: white;
    top: 120%;
    right: 0;
    border-radius: 2px;
    display: none;
}
.header__navbar-user-menu::before
{
    content: "";
    border-width: 11px 15px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position:absolute;
    right: 7px;
    top:-22px;
}
.header__navbar-user-menu::after
{
    content: "";
    position:absolute;
    width: 60px;
    height: 10px;
    top: -10px;
    right: 0;
}
.header__navbar-user-item a
{
    display: flex;
    justify-content: center;
    color: var(--text-color);
    text-decoration:none;
    font-weight: 500;
}
.header__navbar-user-item a:hover
{
    color: rgb(45, 134, 134);
}
.header__navbar-user-item
{
    list-style: none;
    padding: 20px 0;
}
.header__navbar-user-item:last-child
{
    border-top: 1px solid rgb(228, 226, 226);
}
.header__navbar-user-item:hover
{
    background-color: rgb(241, 241, 241);
}

.header__navbar-item,
.header__navbar-item-link{
display: flex;
font-size: 1.4rem;
color: var(--white-color);
text-decoration: none;
font-weight: 300;
align-items: center;
}
/* .header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
} */
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7) ;
}
.header__navbar-item--bold{
    font-weight: 400;
}
.header__navbar-item--saparate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 12px;
    right: -10px;
    top: 2px;
}
 .header__navbar-icon-link{
     color: var(--white-color);
     text-decoration: none;
}
 .header_navbar-icon{
     font-size: 1.8rem;
     margin: 0 2px;
}
 .connect{
     cursor: text;
     color: var(--white-color);
}
 .header__qr{
    background-color: var(--white-color);
    width: 170px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadein ease-in 0.2s;
    z-index:1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.507);
}
 .header__qr::before
{
     position: absolute;
     width: 100%;
     height: 20px;
     content: "";
     display: block;
     left: 0;
     top: -15px;
}

 .header__qr-img
{
    width: 100%;
}
 .header__qr-apps
{
     display: flex;
     justify-content: space-between;
}
 .header__qr_download-img
{
    height: 14px;
}
 .header__qr-link:nth-child(1)
{
    margin-left: 11px;
}
 .header__qr-link:nth-child(2)
{
    margin-right: 11px;
}
 .header__navbar-item--qrhover:hover .header__qr
{
    display: block;
}
.header__navbar-item--notifi:hover .header__notifi
{
    display: block;
}
 .header__notifi
{
    z-index: 1;
    border-radius: 5px;
    cursor: default;
     position: absolute;
     top: 30px;
     width: 404px;
     background-color: var(--white-color);
     right: 0;
     border: 1px solid #d3d3d3;
     transform-origin:90% top ;
     animation: headernotifigrowth ease-in 0.2s;
     will-change: opacity , transform;
     display: none;
}
.header__notifi::before
{
    content: "";
    border-width: 15px 30px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position:absolute;
    right: 6px;
    top:-24px;
}
.header__notifi::after
{
    display: block;
position: absolute;
width: 90px;
height: 20px;
content: "";
right: 0;
top: -15px;
}

@keyframes headernotifigrowth
{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to 
    {
        opacity: 1;
        transform: scale(1);
    }
}
 .header__notifi-header
{
    height: 40px;
    background-color: var(--white-color);

}
.header__notifi-header h3
{
    margin: 0 0 0 12px;
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}
 .header__notifi-list
{
    padding-left: 0;
}
 .header__notifi-item
{
    display: flex;
    list-style: none;
    border-bottom: 1px solid rgb(238, 236, 236);
}
.header__notifi-item:hover
{
    background-color: #eeeff1;
}
.header__notifi-item--viewed
{
    background-color: rgba(243, 164, 148, 0.1);
}
 .header__notifi-link
{
    width: 100%;
    padding: 12px;
    display: flex;
    text-decoration: none;
    
}
 .header__notifi-img
{
    object-fit: contain;
    width: 56px;
}
 .header__notifi-info
{
    margin-left: 12px;
}
 .header__notifi-name
{
    display: block;
    font-size: 14px;
    color: var(--black-color);
    font-weight: 400;
}
 .header__notifi-desc
{
    display: block;
    font-size: 12px;
    color: #9999;
}
.header__notifi-footer
{
    display: flex;
}
.header__notifi-footer-btn
{
    text-decoration: none;
    color: var(--text-color);
    padding:12px 16px ;
    margin: auto;
    font-weight: 500;

}
.header__sort-bar
{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: 46px;
    background-color: white;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
.header__sort-item
{
    flex:1;
}
.header__sort-item:first-child .header__sort-link::before
{
    display: none;
}
.header__sort-link
{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: 46px;
    text-align: center;
    position: relative;
}
.header__sort-link::before
{
    content:"";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #cacaca;
    transform: translateY(-50%);
}
.header__sort-item--active .header__sort-link
{
    color: var(--primary-color);
    border-bottom:1px solid var(--primary-color);
}
.auth-form
{
    width: 500px;
    overflow: hidden;
    background-color: var(--white-color);
    border-radius: 5px;
}
.auth-form__header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading
{
    color: #222;
    font-size:25px;
    text-transform: capitalize;
    font-weight: 400;
}
.auth-form__switch-btn
{
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.auth-form__container
{
    padding: 0 32px;
}
.auth-form__input
{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    outline: none;
}
.auth-form__input:focus
{
    border-color: #777;
}
.auth-form__aside
{
    margin-top: 20px;
}
.auth-form__policy-text
{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link
{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls
{
    margin-top: 80px;
}
.auth-form__controls
{
    display: flex;
    justify-content:flex-end;
}
.auth-form__controls-back
{
    margin-right: 8px;
}
.auth-form__socials
{
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.btn.btn--size-s
{
    height: 32px;
    font-size:12px;
}
.auth-form__socials-icon
{
    font-size: 1.8rem;
}
.auth-form__socials--fb
{
    background-color:#3a5a98 ;
    color: var(--white-color);
}
.auth-form__socials--gl
{
    background-color: var(--white-color);
    color: #666;
}
.auth-form__socials-title
{
    margin: 0 36px;
}
.auth-form__help
{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link
{
    font-size: 1.4rem;
    text-decoration: none;
    color: #999;
}
.auth-form__help-separate
{
    display: block;
    height: 22px;
    margin: -4px 16px 0;
    border-left: 1px solid var(--border-color);
}
.auth-form__help-forgot
{
    color: var(--primary-color);
}
.header-with-search
{
    display: flex;
    align-items: center;
    height:var(--header-with-searth-height);
}
.header__mobile-search
{
    padding: 0 12px 0 6px;
}
.header__mobile-bar
{
    font-size: 2.6rem;
    color: white;
    padding: 0 6px 0 8px;
    line-height: var(--header-with-searth-height);
}
.overlay-bar
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    animation: fadein linear 0.2s;
}
.nav-bar-mobile
{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    max-width: 100%;
    background-color: white;
    z-index: 1;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    
}
.bar-input:checked ~ .overlay-bar
{
    display: block;
}
.bar-input:checked ~ .nav-bar-mobile
{
    transform: translateX(0);
    opacity: 1;
}
.bar-icon-close
{
    font-size: 4rem;
    color: #4e4e4e;
    font-weight: 200;
    float: right;
    padding: 0 8px;
}
.bar-list
{
    margin-top: 40px;
    padding-left: 0;
}
.bar-item
{
    display: flex;
    padding: 4px 0;
    align-items: center;
}
.bar-item:first-child
{
    border-top: 1px solid rgb(90, 90, 90);
}
.bar-icon
{   
    color: #909090;
    padding:0 10px;
    font-size: 1.6rem;
}
.bar-link
{
    font-weight: 400;
    color: #909090;
    display: block;
    padding: 20px 10px;
    font-size: 1.4rem;
    width: 100%;
}
.bar-item:hover
{
    background-color: #d3d3d3;
}
.tungtung
{
    display: flex;
    align-items: center;
}
.header__mobile-search-icon 
{
    font-size: 2.6rem;
    color: white;
}
.header__logo
{
    width: 200px;
}
.header__logo-link
{
    display: block;
    line-height: 0;
}
.header__mobile-search-close
{
    position: absolute;
    left: 0;
    top: 100%;
    padding: 4px 10px;
    background-color: var(--primary-color);
}
.header__search-checkbox:checked ~ .header__search
{
    display: flex;
}
.header__logo-img
{
    width: 150px;
}
.header__search
{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__search-input-swap
{
    height: 100%;
    flex: 1;
    position: relative;
}

.header__cart
{
    width: 150px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.header__cart-icon
{
    font-size: 2.4rem;
    color: #fff;
    margin-top: 4px;
}
.header__search-input
{
    flex: 1;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 4px;
}
.header__search-select
{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select-lable{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon
{
    font-size: 1.4rem;
    color: #818181;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn
{
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    border-radius: 3px;
    margin-right: 2px;
    width: 60px;

}
.header__search-btn:hover
{
    background-color: #fb6445;
}
.header__search-btn-icon
{
    color: #fff;
    font-size: 1.6rem;
}
.header__search-option-item
{
    background-color: #fff;
    padding: 8px 8px;
}
.header__search-option-item:first-child
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__search-option-item:last-child
{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header__search-option-item:hover
{
    background-color: rgb(219, 219, 219);
}

.header__search-option-item span
{
    font-size: 1.4rem;
    color: var(--text-color);  
    margin-left: 8px;  
}
.header__search-option-item i
{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 4px 0 12px;
    display: none;
}
.header__search-select:hover .header__search-option
{
    display: block;
}
.header__search-option
{
    position:absolute;
    right: 0;
    top: 100%;
    list-style: none;
    width: 130px;
    box-shadow: 0 0 3px #999;
    padding-left: 0;
    border-radius: 3px;
    display: none;
    margin-top: 20px;
    
    animation: fadein ease-in 0.2s;
}
.header__search-option::before
{
    position:absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -20px;
    
}

.header__search-option-item-active i
{
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history
{
    display: block;
}

.header__search-history
{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 5px #666;
    overflow: hidden;
    display: none;
    z-index: 1;

}
.header__search-history-heading
{
    margin: 8px 8px;
    font-size: 1.4rem;
    color: rgb(219, 219, 219);
    font-weight: 400;
}
.header__search-history-list
{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.header__search-history-item
{
    height: 38px;
    padding: 0 16px;
    text-decoration: none;
}
.header__search-history-item:hover
{
    background-color: rgb(243, 243, 243);
}
.header__search-history-item a
{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 38px;
    display: block;

}
.fa-shopping-cart
{
    position: relative;
    padding: 8px;
    cursor: pointer;
}
.fa-shopping-cart:hover .header__cart-box
{
    display: flex;
}
.header__cart-box::before
{
    content: "";
    border-width: 15px 20px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position:absolute;
    right: 1px;
    top:-24px;
}
.header__has-cart .header__cart-box,
.header__has-cart .header__cart-img,
.header__has-cart .header__cart-text
{
    display: none;
}
.header__cart-box
{
    color: var(--text-color);
    position:absolute;
    background-color: #fff;
    width: 440px;
    top: 110%;
    right: 0;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    display: none;
    transform-origin:95% top ;
    animation: headernotifigrowth ease-in 0.2s;
    will-change: opacity , transform;
    flex-direction: column;
    z-index: 1;
}
.header__cart-img
{
    height: 100px;
    margin: 67px 150px 10px ;

}
.header__cart-text
{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 57px;
}
.header__cart-notice
{
    position: absolute;
    padding: 2px 6px;
    background-color: white;
    color: var(--primary-color);
    font-size: 1.3rem;
    line-height: 1.2rem;
    border-radius: 10px;
    border:2px solid var(--primary-color);
    top: 0;
    right: -4px;
}
.header__cart-heading
{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #ccc;
    font-weight: 400;
}
.header__cart-list-item
{
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}
.header__cart-item
{
    display: flex;
    align-items: center;
    
}
.header__cart-item:hover
{
    background-color: #f8f8f8;
}
.header__cart-item-img
{
    width: 42px;
    height: 42px;
    margin: 12px;
}
.header__cart-item-info
{
    width: 100%;
    margin-right: 12px;

}
.header__cart-item-head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name
{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right:16px ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    text-align: left;

}
.header__cart-item-price
{
    font-size: 1.4rem;
    font-weight: 600;
    color: #f53e2d;
}
.header__cart-item-multiply
{
    font-size: 1rem;
    margin: 0 4px;
    color: #ccc;
}
.header__cart-item-qnt
{
    color: rgb(160, 160, 160);
    font-size: 1.2rem;
}
.header__cart-item-body
{
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description
{
    font-weight: 300;
    color: #ccc;
    font-size: 1.2rem;
}
.header__cart-item-delete
{
    font-weight: 300;
    color: #ccc;
    font-size: 1.2rem;
}
.header__cart-item-delete:hover
{
    color: var(--primary-color);
    cursor: pointer;
}
.tung 
{
 margin-left:auto ;
}
.app
{
    overflow: hidden;
}
.app__container
{
    background-color: #f5f5f5;
}
.app__content
{
    padding-top:  24px;
}
.category
{
    background-color: white;
    border-radius: 2px;
}
.category__heading
{
    margin-top: 0;
    color: var(--text-color);
    font-size: 1.8rem;
    padding: 12px 16px;
    border-bottom:1px solid rgba(153, 153, 153, 0.233);
}
.category__heading-icon 
{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.category-list
{
    padding: 0 0 6px 0 ;
}
.category-item
{
    position: relative;
}
.category-item:first-child::before
{
    display: none;
}
.category-item::before
{
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}
.category-item--active .category-item__link
{
    color:var(--primary-color) ;
}
.category-item--active .category-item__link::before
{
    content: "";
    top: 50%;
    left: 4px;
    position: absolute;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link
{
    position: relative;
    font-size: 1.6rem;
    color: var(--text-color);
    display: block;
    padding: 12px 16px;
    right: 0;
    transition: right linear  0.1s;
}
.category-item__link:hover
{
    right: -4px;
}
.mobile-category__list
{
    display: flex;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}
.mobile-category__list::-webkit-scrollbar
{
    display: none;
}
.mobile-category__item
{
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-category__item:nth-last-of-type(3n + 1) .mobile-category__link
{
    background-color: #87afd8;
}
.mobile-category__item:nth-last-of-type(3n + 2) .mobile-category__link
{
    background-color: #76c9bd;
}
.mobile-category__item:nth-last-of-type(3n + 3) .mobile-category__link
{
    background-color: #88cf81;
}

.mobile-category__link
{
    --line-height:2rem;
    color: white;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    text-align: center;
    font-size: 1.4rem;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent ;
    padding: 0 6px;
}
.home-filter
{
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    padding: 12px 22px;
    border-radius: 4px;
}
.home-filter__label
{
    font-size: 1.4rem;
    margin-right:16px ;
}
.home-filter__page
{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.home-filter__btn
{
    margin-right: 12px;
    background-color: white;
    min-width: 90px;
}
.home-filter__page-num
{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-curent
{
    color: var(--primary-color);
}
.home-filter__page-control
{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn
{
    flex: 1;
    background-color: white;
    display: flex;

}
.home-filter__page-btn:first-child
{
    border-right: 1px solid rgba(153, 153, 153, 0.267)
}
.home-filter__page-icon 
{
    margin: auto;
    font-size: 1.4rem;
}
.home-filter__page-btn--disabled
{
    background-color: rgba(255, 255, 255, 0.582);
    color: rgba(153, 153, 153, 0.719);
    cursor: default;
}
.home-product-item
{
    display: block ;
    background-color: white;
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0, 0,10%);
    transition: transform linear 0.1s;
    will-change: transform;
}
.home-product-item:hover
{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0,0, 0,10%);
}
.home-product-item__img
{
    padding-top:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item__name
{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    padding: 0 10px;
    margin-bottom: 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item__price
{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old
{
    margin-left: 10px;
    font-size: 1.3rem;
    color: #666;
    text-decoration:line-through ;
}
.home-product-item__price-current
{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action
{
    display: flex;
    justify-content: space-between;
    margin:6px 10px 0;

}
.home-product-item__like
{
    font-size: 1.4rem;

}
i.home-product-item__like-icon-fill
{
    color: red;
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill
{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty
{
    display: none;
}
.home-product-item__rating
{
    color: rgba(153, 153, 153, 0.356);
    font-size: 1.3rem;
    transform: scale(0.7);
    transform-origin:right ;
    margin: -1px 0 0 auto;
}
.home-product-item__star--gold 
{
    color: yellow;
}
.home-product-item__sold
{
    margin-left:8px;
    font-size: 1rem;
    font-weight: 400;
}
.home-product-item__origin
{
    display: flex;
    justify-content: space-between;
    margin: 04px 10px;
    color: rgb(128, 128, 128);
}
.home-product-item__favourite
{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    padding: 0 4px;
    font-weight: 500;
    border-top-right-radius:2px ;
    border-bottom-right-radius:2px ;
    
}
.home-product-item__favourite span
{
    color: white;
}
.home-product-item__favourite::before
{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(40%);
}
.home-product-item__sale-off
{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: #ffd940c7;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::before
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent #ffd940c7 transparent #ffd940c7;
}
.home-product-item__sale-off-percent
{
    color: #ee4d2d;
    font-size: 1.5rem;
    font-weight: 700;

}
.home-product-item__sale-off-label
{
    color: white;
    font-size: 1.4rem;
}


.home-product--pagination
{
    margin:48px 0 32px 0;
}
.pagination
{
    padding-left:0 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-item
{
    margin: 0 8px;
}
.pagination-item--active .pagination-item__link
{
    background-color: var(--primary-color);
    color: white;
}
.pagination-item--active .pagination-item__link:hover
{
    background-color: #ed5c3f;
}
.pagination-item__link
{
    --height:30px;
    display: block;
    font-size: 2rem;
    color: #9a9a9a;
    font-weight: 400;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 4px;
    text-align: center;
}
.footer
{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}
.footer__heading
{
    font-size: 1.4rem;

}
.footer-list
{
    padding-left: 0;
}
.footer-item__link
{
    color: #575757;
    font-size: 1.2rem;
    padding: 4px 0;
    display: flex;
    align-items:center ;
    font-weight: 500;


}
.footer-item__link:hover
{
    color: var(--primary-color);
}
.footer-item__icon
{
    font-size: 1.6rem;
    margin-top: -1px;
    margin-right: 4px;
}
.footer__download
{
    display: flex;
}
.footer__download-qr
{
    width: 80px;
    border: 1px solid var( --border-color);
}
.footer__download-app
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 16px;
}
.footer__download-app-img
{
    height: 20px;
}
.footer__bottom
{
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}
.footer-text
{
    margin : 0;
    font-size: 1.2rem;
    text-align: center;
}